x-superset-user: &superset-user root
x-superset-volumes: &superset-volumes
  # /app/pythonpath_docker will be appended to the PYTHONPATH in the final container
  - ./docker:/app/docker
  #- ./superset:/app/superset
  - ./docker/superset_config.py:/app/pythonpath/superset_config.py


services:
  # Kafka
  broker:
    image: apache/kafka:latest
    hostname: broker
    container_name: broker
    ports:
      - 9092:9092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:29093
      KAFKA_LISTENERS: PLAINTEXT://broker:29092,CONTROLLER://broker:29093,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
    volumes:
      - kafka-data:/var/lib/kafka/data
     

  # PostgreSQL
  db:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    env_file:
      - .env
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - mynet

  

  # Airflow (PostgreSQL pour métadonnées)
  airflow-postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB_rf}
      POSTGRES_USER: ${POSTGRES_USER_rf}
      POSTGRES_PASSWORD: ${POSTGRES_PWD_rf}
    env_file:
      - .env
    volumes:
      - airflow-postgres-data:/var/lib/postgresql/data

  airflow-container:
    image: mon_image_airflow:latest
    container_name: airflow_container
    ports:
      - "8000:8080"
    environment:
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: ${AIRFLOW__DATABASE__SQL_ALCHEMY_CONN}
    env_file:
      - .env
    depends_on:
      - airflow-postgres
    command: >
      bash -c "airflow db migrate &&
               exec airflow standalone"

  superset:
    env_file:
      - path: docker/.env # default
        required: true
    image: apache/superset:3.0.0-py310
    container_name: superset_app
    command: ["/app/docker/docker-bootstrap.sh", "app"]
    restart: unless-stopped
    ports:
      - 8088:8088
    user: *superset-user
    environment:
      DATABASE_DB: "superset_db"
    depends_on:
      superset-init:
        condition: service_completed_successfully

    volumes: *superset-volumes
    networks:
      - mynet


  superset-init:
      image: apache/superset:3.0.0-py310
      container_name: superset_init
      command: ["/app/docker/docker-init.sh"]
      env_file:
        - path: docker/.env # default
          required: true
      depends_on:
        db:
          condition: service_started
        redis:
          condition: service_started
      user: *superset-user
      volumes: *superset-volumes
      environment:
        SUPERSET_LOAD_EXAMPLES: "no"
        SUPERSET_LOG_LEVEL: "${SUPERSET_LOG_LEVEL:-info}"
        DATABASE_DB: "superset_db"
      healthcheck:
        disable: true
      networks:
        - mynet
    
  redis:
      image: redis:7
      container_name: superset_cache
      restart: unless-stopped
      ports:
        - "127.0.0.1:6379:6379"
      volumes:
        - redis:/data
      networks:
        - mynet

  
volumes:
  kafka-data:
  postgres-data:
  airflow-postgres-data:
  grafana-data:
  redis:

networks:
  mynet:
    driver: bridge